<!-- Main -->
<main>
  <!-- Toolbar -->
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>BattleShip</span>
    <span class="spacer"></span>
    <img width="40" alt="SinkingShip" src="/assets/img/SinkingShip3D.gif" />
  </mat-toolbar>

  <!-- Content -->
  <section class="content">
    <nav>
      <a routerLink="/">Home</a>
    </nav>
    <nav>
      <a routerLink="/highscore">Highscore</a>
    </nav>
    <nav>
      <a routerLink="/board">Board</a>
    </nav>
    <router-outlet></router-outlet>
  </section>
</main>
